@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700");

// See https://github.com/HeroicEric/ember-normalize
@import "normalize";

// Bourbon + Neat + Bitters
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "base/_base";

html {
    height: calc(100% + 72px);
}

.loading-spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 45%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}


.container {
  @include outer-container;
  text-align: center;
  
  /* INDEX */
  .header {
    @include fill-parent();
    @include row(table);
    max-height: 172px;
    margin-top: 0.5em;

    .header-logo {
      height: 6.5em;
    }

    h1 {
      font-size: 4em;
    }
  }

  .action {
    @include fill-parent();
    @include row(table);

    .start {
      display: inline-block;
      cursor: pointer;
      height: 10em;
      outline: none;
      overflow: hidden;
      padding: 3em 1em;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      min-width: 320px;

      box-shadow: inset 0 0 1px 2px darken($start-green, 10%);
      background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
      background-color: $start-green;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;

      &:focus,
      &:hover {
        background-color: darken($start-green, 10%);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }

      h2 {
        color: white;
        font-size: 2.5em;
      }

    }

  }

  .footer {
    @include fill-parent();
    @include row(table);

    margin-top: .5em;

    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $footer-background: desaturate(darken($action-color, 20%), 30%);
    $footer-color: white;
    $footer-link-color: transparentize($footer-color, 0.6);
    $footer-disclaimer-color: transparentize($footer-color, 0.6);

    padding: ($base-spacing /2) 0px;

    .footer-logo {
      margin-bottom: 2em;
      text-align: center;

      img {
        height: 3em;
      }
    }

    .footer-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      ul {
        flex-basis: 15em;
        flex-shrink: 0;
        margin-bottom: $base-spacing / 2;
        padding: 0;

        li {
          list-style: none;
          text-align: center;
         
          a {
            text-decoration: none;
          }
         
          h3 {
            font-size: 1em;
          }
        }
      }
    }
  }

  /* PRACTICE */
  .home-nav {
    @include fill-parent();
    @include row(table);    

    h3 {
      font-size: 3em;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 2px $start-green;
        color: darken($base-font-color, 8%);
        transition: all 0.5s ease-in;
      }
    }
  }

  .deck {
    @include fill-parent();
    @include row(table);
    position: relative;
    perspective: 800px;
    min-height: 450px;
    height: 1em;
    margin-bottom: 6px;

    .card {
      $base-border-color: gainsboro !default;
      $card-border-color: $base-border-color;
      $card-background: lighten($card-border-color, 10%);
      $card-image-hover-opacity: 0.85;

      width: 100%;
      height: 100%;
      position: absolute;
      @include transition(transform 0.75s);
      @include transform-style(preserve-3d);

      img {
        min-height: 450px;
      }

      &:focus,
      &:hover {
        cursor: pointer;

        img {
          box-shadow: 0 0 12px $unitflash-color;
          @include transition(all 0.5s ease-in);
        }
      }

      &:active {
        background-color: $card-background;

        .card-header {
          background-color: $card-background;
        }
      }

      div {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .back {
        @include transform(rotateY(180deg));
      }
    }

    .flipped {
      @include transform(rotateY(180deg));
    }
  }

  .travel-links {
    @include fill-parent();
    @include row(table);
    font-size: 1.5em;

    .complete-link {
      background-color: #5fcf80;
      border: solid 2px #5fcf80;

      &:hover {
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
        border-color: #3ac162;
        background-color: #3ac162;
      }
    }

    a {
      display: inline-block;
      width: 120px;
      color: #fff;
      border-radius: 4px;
      margin: 1%;

      background-color: $unitflash-color;
      border-bottom-color: $unitflash-color;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-image-outset: 0 0 0 0;
      border-image-repeat: stretch stretch;
      border-image-slice: 100% 100% 100% 100%;
      border-image-source: none;
      border-image-width: 1 1 1 1;
      border-left-color: $unitflash-color;
      border-left-style: solid;
      border-left-width: 2px;
      border-right-color: $unitflash-color;
      border-right-style: solid;
      border-right-width: 2px;
      border-top-color: $unitflash-color;
      border-top-style: solid;
      border-top-width: 2px;
      box-sizing: border-box;
      
      &:hover {
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
        border-color: shade($unitflash-color, 12%);
        background-color: shade($unitflash-color, 12%);
      }
    }
  }

  /* COMPLETE */
  .congrats-header {
    font-size: 3em;
    margin-top: 20px;
  }

  .home-link {
    font-size: 2em;
  }
}