<div class="header">
  <img src="/assets/images/logo.png" alt="" class="header-logo">
  <h1>Unitflash</h1>
  <p>The only way to learn your units.</p>
</div>

<div class="grid-items">
  <a href="" class="grid-item grid-item-image">
    <h2 class="test-header-play">PLAY</h2>
    <p>Play no games. <small><i>Except this one</i></small></p>
  </a>
  {{#link-to 'practice' 1 class='grid-item grid-item-image test-nav-practice'}}
    <h2 class="test-header-practice">PRACTICE</h2>
    <p>You wanna get to Carnegie Hall?</p>
  {{/link-to}}
</div>
