<div class="header">
  <img src="/assets/images/logo.png" alt="" class="header-logo">
  <h1>Unitflash</h1>
  <p>The only way to learn your units.</p>
</div>

<div class="grid-items">
  {{#link-to 'practice' 1 class='grid-item grid-item-image test-nav-practice'}}
    <h2 class="test-header-practice">BEGIN</h2>
    <p>You wanna get to Carnegie Hall?</p>
  {{/link-to}}
</div>


<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Contributors</h3></li>
      <li>Hannah Herbst - illustrator</li>
			<li>Paul Jebb - teacher</li>
			<li>Tommy Jebb - <a href="https://github.com/yohanmishkin/">developer</a></li>
    </ul>
  </div>

  <a href="https://github.com/yohanmishkin/unitflash"><img src="assets/images/GitHub-Mark-32px.png"></a>
</footer>
