<div class="practice-nav">
	<h3>Practice</h3>
	{{link-to 'Home' 'index' class='test-nav-home'}}
</div>

<div class="cards">
		{{unitflash-card cardNumber=model front=true}}
</div>

{{#link-to 'practice' nextId class='test-next-card'}}Next{{/link-to}}