<div class="demo-wrapper">
  {{x-file-input action="uploadManyFiles" class="test-upload-files" multiple=true alt="Upload cards"}}

  {{#each flashcards as |flashcard|}}
    <p class="file-name">
      {{flashcard.name}}
      {{flashcard.photoData}}
    </p>
  {{/each}}
</div>